<!doctype html>
<html>
<head>
        <title>Python Application Test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="../static/stylesheets/style.css" />
</head>


<body>
    <h1>Test Status</h1>
    <hr>
    <h3>Current time is {{ current_time }}</h3>
    <br>
    <h2>{{ cpu_test_status }}</h2>
    <hr>
    <h2>{{ timebomb_status }} and will go off at {{ bombtime }}</h2>
    <form method="post">
        <button type="submit" style="background-color:gray">Return</button>
    </form>

</html>
