<!doctype html>
<html>
<head>
        <title>Web Pix</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="../static/stylesheets/style.css" />
</head>


<body>
    <h1>Web Pix - Photo Album</h1>
    <h3>Time is {{ current_time }}</h3>
    <img src="../static/images/web_1.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_2.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_3.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_4.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_5.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_6.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_7.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_8.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_9.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_10.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_11.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_12.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_13.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_14.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_15.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_16.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_17.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_18.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_19.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_20.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_21.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_22.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_23.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_24.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_25.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_26.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_27.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_28.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_29.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_30.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_31.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_32.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_33.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_34.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_35.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_36.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_37.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_38.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../static/images/web_39.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <p style="clear: both;">
    <hr>
    <img src="../static/images/max_1.jpg">
    <img src="../static/images/max_2.jpg">
    <img src="../static/images/max_3.jpg">
    <img src="../static/images/max_4.jpg">
    <img src="../static/images/max_5.jpg">
    <img src="../static/images/max_6.jpg">
    <form method="post">
        <button type="submit" style="background-color:gray">Return</button>
    </form>

</html>
