<!doctype html>
<html>
<head>
        <title>Three Second Delay</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="../static/stylesheets/style.css" />
</head>


<body>
    <table>
           <tr>
                <td style='width: 30%;'><img class = 'newappIcon' src='../static/images/Three.png'>
                </td>
           </tr>
    </table>
    <h1>Delayed Web Page - Three Seconds</h1>
    <h3>Time is {{ current_time }}</h3>
    <p>I am a Three Second Delay Page</p>
    <form method="post">
        <button type="submit" style="background-color:gray">Return</button>
    </form>

</html>
